body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }

a {
  text-decoration: none;
  color: inherit;
}

ul{
    list-style: none;
}


  .header{
    display: flex;
    background-color: #1F2937;
    color:white;
    /* padding-top: 20px; */
    padding: 20px;
  }

  .left-header{
    padding-left: 210px;
  }
  .right-header{
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font: 18px;
    color: #E5E7EB;
    padding-right: 230px;
    gap:20px;
  }

  .upper{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    gap: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .upper-left{
    display: flex;
    flex-direction: column;
    width: 400px;
    color: white;
    justify-content: center;
  }

  .bird-img{
    width: 200px;
    height: auto;
  }
/* 
  .bird-img img{
    width: 80%;
    height: 80%;
  } */

  .main-header{
    font-size: 48px;
    font-weight: 600;
  }

button{
    width: 80px;
    height: 25px;
    background-color: #3882F6;
    border-radius: 8px;
    color:#E5E7EB;
  }

  .upper-left button {
    margin-top: 12px;
    border: 0px;
  }

  .upper-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 25px;
  }

.information{
    font:36px;
    font-weight: 600;
    color: #1F2937;
    padding-bottom: 20px;
}

  .image-content{
    display: flex;
    /* flex-direction: column; */
    /* margin-bottom: 20px; */
  }

  .image-items{
    width: 200px;
    height: 200px;
  }

  .image-items img{
        width: 80%;
        height: 80%;
  }

  .lower-mid{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 40px;
    background-color: #E5E7EB;
  }

.inspiring-quote{
    font: 36px;
    font-style: italic;
    color: #1F2937;
    width: 550px;
    /* margin-right: auto; */
    padding-left: 300px;
}

  .thor-quote{
    width: 550px;
    margin-left: auto;
    font-weight: bold;
  }

  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

.split-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    border-radius: 10px;
    width: 600px;
    gap: 40px;
    padding: 30px;
    color:#E5E7EB
}

.split-modal button{
    border:2px solid #E5E7EB;
}

.modal-text{
    /* margin-right: 20px; */
    padding-right: 20px;
}

.call-to-action{
    font-weight: bold;
}

.Sign-up{
    font-size: 12px;
}

.footer{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    background-color: #1F2937;
  }
